.form {
    margin: 30px 10px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.form__content {
    display: flex;
    gap: 10px;
    width: 100%;
}

.form__content__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.input_block {
    width: 100%;
    padding-top: 10px;
}

.label {
    margin-top: 10px;
}

.input {
    width: 100%;
    margin-top: 10px;
}

.aggregation {
    display: flex;
    flex-direction: column;
    padding-left: 7px;
    padding-bottom: 15px;
    gap: 7px;
}

/********************************************
* адаптивность
********************************************/
@media (max-width: 750px) {
    .form__content {
        flex-direction: column;
    }
    .form__content__text {
        grid-template-columns: 1fr;
    }
    
    .input_block {
        width: 90vw;
        padding-top: 0;
    }
    .label {
        text-align: left;
        min-width: min-content;
    }
   .input {
        width: 100%;
    }
    .select {
        font-size: 0.9rem;
        padding: 2px 5px;
    }
    .aggregation {
        gap: 14px;
    }

        
}