.nav {
    display: grid;
    /* border: 1px red solid; */        
    grid-template-columns: 20px 1fr 20px;;
    gap: 10px;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.nav h1 {
    font-size: 20px;
    font-weight: normal;
}

.nav a {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: black;

    &:hover {
        transform: scale(1.1);
        color: red;
    }
}

.icon_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.icon {
    width: 25px;
    fill: none;
    display: flex;
    color: black;
}

