.container {
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100dvh;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px red solid; */
}

.subcontainer {
    max-width: 400px;
    width: 100%;
    flex-grow: 1;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}