.main {
  /*background-color: white;*/
  /*border: 1px solid green;*/
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main a {
  font-weight: normal;
  /*color: blue;*/
}

.main a:hover {
  text-decoration: underline;
}


.page-header {
    text-transform: uppercase;
    text-align: left;
    font-size: 16px;
    margin-bottom: 0;
}
  
.list {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px 0;
    /*border: 1px solid blue;*/
}

.addRecord {
    margin-top: auto;
    padding: 25px 0;
}
/********************************************
* адаптивность
********************************************/
@media (max-width: 750px) {
  .list-mobile-alterarion li:nth-of-type(odd) {
        background-color: #e9ebf1;
  }
  .list-mobile-alterarion li {
    padding: 3px;
  }
  .main-shrink {
  }
  .page-header {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 12px;
  }

  .list a {
    font-size: 20px;
  }

}