.thing {
    & a:hover {
        color: black;
    }
}

.link {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-content: center;
    /*border: 1px solid red;*/
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    /*border: 1px solid blue;*/
    & p {
        padding: 0;
        margin: 0;
    }

}

.name {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.UIN {
    font-size: 14px;
    font-weight: 500;
    color: #A0A0A0;
    
}
