.inputWrapper, .inputWrapperMultiline {
  position: relative;
  display: flex;
  background: var(--color-input_background);
 /* border: green solid 1px;*/
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 9px;
  padding-left: 18px;
  padding-right: 18px;
}


.inputWrapper input, .inputWrapperMultiline {
  font-size: var(--input-value-font-size);
  width: 100%;
}

.inputLabel {
  position: absolute;
  top: 5px;
  left: 18px;
  color: var(--color-input_label);
  font-size: 10px;
}

.textField, .inputField {
  background: transparent; 
  border: none;
  font-weight: 400;
  outline: none;
  transition: border-color 0.2s;
  font-size: 16px;
  /*padding: 19px 20px 7px;*/
  outline: none;
  box-sizing: content-box;
  color: var(--color-input_font);
}


.textField {
  flex-grow: 1;
}

.inputWrapperMultiline input[value=""] {
  padding: 13px 20px 9px;
}


.textField.error {
  border-bottom: 3px solid #e15d5d;
}

/* Стили для автозаполнения */
.textField:-webkit-autofill,
.textField:-webkit-autofill:hover,
.textField:-webkit-autofill:focus,
.textField:-webkit-autofill:active,
.inputField:-webkit-autofill,
.inputField:-webkit-autofill:hover,
.inputField:-webkit-autofill:focus,
.inputField:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color-input_background) inset !important;
  -webkit-text-fill-color: var(--color-input_font) !important;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}
