.inputWrapper {
  position: relative;
  display: flex;
}

.inputWrapper input {
  font-size: var(--input-value-font-size);
}

.inputLabel {
  position: absolute;
  top: 5px;
  left: 18px;
  color: var(--color-input_label);
  font-family: 'Inter-Regular';
  font-size: 10px;
  margin-bottom: 4px;
}

.inputField {
  background: var(--color-input_background);
  border: none;
  flex-grow: 1;
  border-bottom: 3px solid #fff;
  color: var(--color-input_font);
  font-weight: 400;
  font-family: 'Inter-Regular';
  outline: none;
  transition: border-color 0.2s;
  font-size: 16px;
  padding: 19px 20px 7px;
  border-radius: 10px;
  outline: none;
}

.inputWrapper input[value=""] {
  padding: 13px 20px 9px;
}



.inputField.error {
  border-bottom: 3px solid #e15d5d;
}

/* Стили для автозаполнения */
.inputField:-webkit-autofill,
.inputField:-webkit-autofill:hover,
.inputField:-webkit-autofill:focus,
.inputField:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}
