.qrCodeWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 0; // Allow flexbox to shrink
}

.qrCode {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1;
  display: block;
  
  // Ensure SVG scales properly
  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

