.container {
  margin: 0 auto;
  z-index: 0;
  width: 100%;
}

.button-block {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
  }
