.container {
  border: 1px dashed green;
  display: flex;
  flex-direction: column;
  //padding: 1rem;
  gap: 5px;
  padding-bottom: 20px;

  h2 {
    font-size: 44px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}

.description {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  margin: 0 10px;
}

.props {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 12px;
  text-align: left;
  margin: 0 10px;

  pre {
    font-size: 1.2rem;
    display: inline;
  }
}

.components {
  margin-top: 2rem;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
